.student-about__wrapper {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.student-about__wrapper table {
    width: 70%;
}

.student-about__wrapper table tr td {
    padding: 5px 15px;
}

.student-about__wrapper table tr td:first-child {
    text-align: right;
    width: 40%;
}

.student-about__wrapper table tr td:last-child {
    text-align: left;
    width: 60%;
    background-color: #eaeaea;
}